<header>
    <nav>
        <div class="flex justify-between items-center w-full h-14 p-2 bg-black border-b border-gray-600">
            <div>
                <h1 class="text-xl">Hackintosh ECommerce</h1>
            </div>
            <div>
                <ul class="flex space-x-4 text-2xl">
                    <li><%= icon('fa-solid', 'search')%></li>
                    <li><%= icon('fa-solid', 'store')%></li>
                    <li><%= icon('fa-solid', 'shopping-cart')%></li>
                    <li><%= icon('fa-solid', 'user')%></li>                    
                </ul>
            </div>
        </div>
    </nav>
</header>